.FooterWrapper{
  height: 400px;
  background-color:black;
  color: rgb(175, 157, 157);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.about{

  width: 400px;

}

@media (max-width:768px) {

  .FooterWrapper{
    height: 400px;
    background-color:black;
    color:whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  
}