#testHeading{
  font-size: 50px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  text-decoration: underline;
  color: black;
  margin-bottom: 20px;
}

.TestmonialWrapeer{
  height: 700px;
  width: 100%;
  background-color: grey;

  

}

.personWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}



@media (max-width:768px) {


  .TestmonialWrapeer{
    height: auto;
    width: 100%;
    background-color: grey;
  
  }
  .personWrapper{
    display: flex;
    flex-direction: column;
   
  }

  #testHeading{
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
    color: black;
    margin-bottom: 20px;
  }
  .image{
    height: 300px ;
    width: 300px ;
    padding: 30px;
  }
  
}